* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  list-style: none;
}
.wrapper {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
}

.slide {
  display: flex;
}

.slide li {
  width: 80vw;
  flex-shrink: 0;
  max-width: 800px;
  margin: 0 20px;
}
